@font-face {
  font-family: "Wulkan Display";
  src: url("../assets/fonts/WulkanDisplayLight.woff2") format("woff2"), url("../assets/fonts/WulkanDisplayLight.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  font-family: "Nunito", sans-serif;
  color: #5c5d61;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  color: #5c5d61;
  max-width: 1000px;
  overflow-x: hidden;

}

header {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  width: 100%;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  z-index: 10;
}

.header_img {
  width: 150px;
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83BE63;
  text-decoration: none;
  color: white;
  font-size: 15px;
  /* width: 165px; */
  height: 47px;
  border-radius: 35px;
  padding: 0 25px;
}



/********section-1**********/
.section-1 {
  height: 700px;
  position: relative;
}

.section-1_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/banner.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 100%;
  opacity: 0.2;
  z-index: -1;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.section-1_h1 {
  font-size: 65px;
  line-height: 84px;
  margin: 0;
  color: black;
}


.section-1_h2 {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 1100px) {
  .section-1 {
    height: 550px;
    position: relative;
  }

  .section-1_bg {
    background-position: 25% 100%;
  }

  .section-1_h1 {
    font-size: 35px;
    line-height: 54px;
    margin-top: 100px;

  }

  .section-1_h2 {
    font-size: 25px;
    margin-top: 50px;
  }
}

/******section-2************/
/* 
.section-2 {} */

.section-2_img {
  margin-top: 50px;
  width: 99%;
}

.section-2_p {
  font-size: 19px;
  margin: 10px 0;
  padding-left: 3%;
  padding-right: 3%;

}

.btn-large {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/******section-3************/
.section-3_img {
  margin-top: 20px;
  width: 100%;
}

.section-3_h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
  color: black;
}

/******section-4*************/

.section-4 {
  background-color: #E2EAF1;
  margin-top: 20px;
  padding-left: 3%;
  padding-right: 3%;

}

.section-4_h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  color: black;
}

.btn-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 25px;
}

.btn-small {
  font-weight: bold;
  font-size: 18px;
  padding: 0 20px;
}

/********section-5************/

.section-5 {
  border-top: 1px solid #5c5d6186;
  margin-top: 25px;
}

.section-5_img {
  width: 160px;
  margin-bottom: 25px;
}

.section-5_p {
  font-size: 14px;
  margin-bottom: 16px;
  padding-left: 3%;
  padding-right: 3%;
}

.section-5_p span {
  font-weight: bold;
}


/****************************MOBILE**************************/

@media (max-width: 1100px) {

  header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    height: 70px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    z-index: 10;
  }

  .header_img {
    width: 100px;
  }

  .header_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83BE63;
    text-decoration: none;
    color: white;
    font-size: 13px;
    /* width: 165px; */
    height: 35px;
    border-radius: 35px;
    padding: 0 15px;
  }



  /********section-1**********/
  .section-1 {
    height: 550px;
    position: relative;
  }

  .section-1_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 100%;
    opacity: 0.2;
    z-index: -1;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }

  .section-1_h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 60px 0;
    color: black;
    text-align: center;
  }


  .section-1_h2 {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    margin-top: -20px;
    text-align: center;
  }



  /******section-2************/

  /* .section-2 {} */

  .section-2_img {
    margin-top: 0px;
    width: 99%;
  }

  .section-2_p {
    font-size: 16px;
    margin: 10px 0;
    padding-left: 3%;
    padding-right: 3%;

  }

  .btn-large {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    height: 45px;
  }

  /******section-3************/
  .section-3_img {
    margin-top: 20px;
    width: 100%;
  }

  .section-3_h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    color: black;
    text-align: center;
    font-size: 23px;
  }

  /******section-4*************/

  .section-4 {
    background-color: #E2EAF1;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;

  }

  .section-4_h2 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 0px;
    color: black;
    text-align: center;
  }

  .btn-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
    height: 160px;
  }

  .btn-small {
    font-weight: bold;
    font-size: 16px;
    padding: 0px;
    height: 45px;
  }

  /********section-5************/

  .section-5 {
    border-top: 1px solid #5c5d6186;
    margin-top: 25px;
  }

  .section-5_img {
    width: 160px;
    margin-bottom: 25px;
  }

  .section-5_p {
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .section-5_p span {
    font-weight: bold;
  }

}