@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arsenal", sans-serif;
  color: #222;
  background: #FDFDFF;
}
@media (max-width: 1080px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .container {
    overflow-x: hidden;
    width: 358px;
  }
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2a247d;
  color: #fff;
  padding: 10px 0;
  height: 108px;
  /* Бургер */
  /* Навігація */
  /* Мобільна адаптація */
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__inner .header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 108px;
}
.header .header__inner .header__logos .logo1 {
  max-width: 108px;
}
@media (max-width: 1080px) {
  .header .header__inner .header__logos .logo1 {
    display: none;
  }
}
.header .header__inner .header__logos .logo2 {
  max-width: 124px;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}
.header .nav__list a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-family: "Arsenal", sans-serif;
  font-size: 16px;
}
.header .burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
}
.header .burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(8px);
          transform: rotate(45deg) translateY(8px);
}
.header .burger.active span:nth-child(2) {
  opacity: 0;
}
.header .burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px);
          transform: rotate(-45deg) translateY(-8px);
}
.header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}
.header .nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
@media (max-width: 1080px) {
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #2a247d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
  }
  .header .nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .header .nav.active {
    right: 0;
  }
}

/* Hero */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px 20px;
}
.hero .hero__inner {
  max-width: 804px;
}
.hero .hero__inner .hero__logo {
  max-width: 200px;
  margin: 0 auto 20px;
}
.hero .hero__inner .hero__subtitle {
  font-family: "Arsenal", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #2a247d;
}
@media (max-width: 1080px) {
  .hero .hero__inner .hero__subtitle {
    font-size: 20px;
  }
}
.hero .hero__inner .hero__title {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
  margin-bottom: 50px;
  color: #2a247d;
}
@media (max-width: 1080px) {
  .hero .hero__inner .hero__title {
    font-size: 26px;
  }
}
.hero .hero__inner .hero__text {
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: left;
}
@media (max-width: 1080px) {
  .hero .hero__inner .hero__text {
    font-size: 16px;
  }
}

/* Form */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2a247d;
  font-weight: normal;
  font-size: 14px;
}
.form .form__group label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.form .form__group input {
  padding: 10px;
  border: 1px solid #5C5B86;
  border-radius: 0px;
  font-size: 14px;
  width: 392px;
  height: 50px;
}
@media (max-width: 1080px) {
  .form .form__group input {
    width: 358px;
  }
}
.form .form__group .error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  height: 14px;
}
.form button {
  width: 210px;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#2E2B75), to(#5650DB));
  background: linear-gradient(90deg, #2E2B75, #5650DB);
  border: none;
  color: #fff;
  padding: 14px 34px;
  font-size: 20px;
  border-radius: 0px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: bold;
}
.form button:disabled {
  background: #aaa;
  cursor: not-allowed;
}
.form button:hover:enabled {
  opacity: 0.9;
}
@media (max-width: 1080px) {
  .form button {
    width: 358px;
  }
}

/* Results */
.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  background: #fff;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 1080px) {
  .results {
    margin-top: 0px;
    padding: 10px 10px;
  }
}
.results .results_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.results .results_content h2 {
  color: #2a247d;
  margin-bottom: 43px;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
}
@media (max-width: 1080px) {
  .results .results_content h2 {
    font-size: 26px;
  }
}
.results .results_content .results_content_matrix_wrapper {
  position: relative;
  max-width: 663px;
}
.results .results_content .results_content_matrix_wrapper .results_content_matrix {
  max-width: 663px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper .results_content_matrix {
    width: 368px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent {
  position: relative;
  top: 0;
  /* Перший рівень */
  /* 📏 Пропорційне масштабування: 358 / 663 = 0.5398 */
  /* 📏 Масштаб 0.5398 + зсув top -5px, left -10px */
  /* Другий рівень */
  /* Третій рівень */
  /* Четвертий рівень */
}
.results .results_content .results_content_matrix_wrapper #resultsContent .level-1 {
  position: absolute;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent .level-1 {
    font-size: 16px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent .level-2 {
  text-align: center;
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent .level-2 {
    font-size: 16px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent .level-3 {
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent .level-3 {
    font-size: 13px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent .level-4 {
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent .level-4 {
    font-size: 13px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #A {
  top: 297px;
  left: 46px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #A {
    top: 155.3px;
    left: 14.8px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #B {
  top: 50px;
  left: 307px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #B {
    top: 18px;
    left: 160px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #C {
  top: 297px;
  left: 568px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #C {
    top: 155px;
    left: 306px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #D {
  top: 546px;
  left: 307px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #D {
    top: 293px;
    left: 160px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #E {
  top: 116px;
  left: 122px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #E {
    top: 54px;
    left: 57px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #F {
  top: 116px;
  left: 491px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #F {
    top: 54px;
    left: 263px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #G {
  top: 479px;
  left: 491px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #G {
    top: 256px;
    left: 263px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #H {
  top: 479px;
  left: 122px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #H {
    top: 255px;
    left: 58px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #I {
  top: 297px;
  left: 306px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #I {
    top: 155px;
    left: 161px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #I1 {
  top: 343px;
  left: 348px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #I1 {
    top: 184px;
    left: 187px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #N {
  top: 306px;
  left: 501px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #N {
    top: 163px;
    left: 272px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #J {
  top: 306px;
  left: 131px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #J {
    top: 163px;
    left: 67px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #O {
  top: 435px;
  left: 449px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #O {
    top: 235px;
    left: 243px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #K {
  top: 179px;
  left: 184px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #K {
    top: 93px;
    left: 96px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #P {
  top: 489px;
  left: 316px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #P {
    top: 265px;
    left: 170px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #L {
  top: 125px;
  left: 315px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #L {
    top: 63px;
    left: 169px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #Q {
  top: 435px;
  left: 184px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #Q {
    top: 235px;
    left: 96.5px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #M {
  top: 178px;
  left: 447px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #M {
    top: 93px;
    left: 243px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #I2 {
  top: 343px;
  left: 385px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #I2 {
    top: 184px;
    left: 208px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #J1 {
  top: 306px;
  left: 98px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #J1 {
    top: 163.5px;
    left: 48.5px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #N1 {
  top: 306px;
  left: 536px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #N1 {
    top: 164px;
    left: 292px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #K1 {
  top: 154px;
  left: 160px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #K1 {
    top: 80px;
    left: 83px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #O1 {
  top: 459px;
  left: 473px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #O1 {
    top: 249px;
    left: 257px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #L1 {
  top: 96px;
  left: 315px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #L1 {
    top: 47px;
    left: 169.5px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #P1 {
  top: 520px;
  left: 317px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #P1 {
    top: 282px;
    left: 170px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #M1 {
  top: 154px;
  left: 474px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #M1 {
    top: 80px;
    left: 257px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #Q1 {
  top: 460px;
  left: 161px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #Q1 {
    top: 249px;
    left: 83.5px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #R {
  top: 306px;
  left: 220px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #R {
    top: 164px;
    left: 116px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #S {
  top: 209px;
  left: 316px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #S {
    top: 110px;
    left: 170px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #T {
  top: 307px;
  left: 412px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #T {
    top: 164px;
    left: 223px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #T1 {
  top: 403px;
  left: 317px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #T1 {
    top: 217px;
    left: 170px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #T2 {
  top: 398px;
  left: 413px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #T2 {
    top: 214.5px;
    left: 223px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #T3 {
  top: 442px;
  left: 364px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #T3 {
    top: 239px;
    left: 196.5px;
  }
}
.results .results_content .results_content_matrix_wrapper #resultsContent #T4 {
  top: 354px;
  left: 455px;
}
@media (max-width: 1080px) {
  .results .results_content .results_content_matrix_wrapper #resultsContent #T4 {
    top: 190px;
    left: 247px;
  }
}
/*******************health_card**********************/
.health_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}
.health_card .health_card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.health_card .health_card_wrapper h2 {
  width: 808px;
  height: 32px;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper h2 {
    width: 358px;
  }
}
.health_card .health_card_wrapper .health_card_wrapper_img {
  max-width: 808px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper .health_card_wrapper_img {
    width: 358px;
  }
}
.health_card .health_card_wrapper #healthCardResults {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  /* Sahasrara */
  /* Ajna */
  /* Vishuddha */
  /* Anahata */
  /* Manipura */
  /* Svadhisthana */
  /* Muladhara */
  /* Summation */
}
.health_card .health_card_wrapper #healthCardResults div {
  position: absolute;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults div {
    width: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.health_card .health_card_wrapper #healthCardResults #sahasrara1 {
  top: 94px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #sahasrara1 {
    top: 62px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #sahasrara2 {
  top: 94px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #sahasrara2 {
    top: 62px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #sahasrara3 {
  top: 94px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #sahasrara3 {
    top: 62px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #ajna1 {
  top: 174px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #ajna1 {
    top: 120px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #ajna2 {
  top: 174px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #ajna2 {
    top: 120px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #ajna3 {
  top: 174px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #ajna3 {
    top: 120px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #vishuddha1 {
  top: 254px;
  left: 0px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #vishuddha1 {
    top: 180px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #vishuddha2 {
  top: 254px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #vishuddha2 {
    top: 180px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #vishuddha3 {
  top: 254px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #vishuddha3 {
    top: 180px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #anahata1 {
  top: 334px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #anahata1 {
    top: 243px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #anahata2 {
  top: 334px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #anahata2 {
    top: 243px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #anahata3 {
  top: 334px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #anahata3 {
    top: 243px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #manipur1 {
  top: 414px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #manipur1 {
    top: 306px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #manipur2 {
  top: 414px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #manipur2 {
    top: 306px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #manipur3 {
  top: 414px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #manipur3 {
    top: 306px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #svadhisthana1 {
  top: 494px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #svadhisthana1 {
    top: 369px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #svadhisthana2 {
  top: 494px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #svadhisthana2 {
    top: 369px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #svadhisthana3 {
  top: 494px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #svadhisthana3 {
    top: 369px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #muladhara1 {
  top: 574px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #muladhara1 {
    top: 432px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #muladhara2 {
  top: 574px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #muladhara2 {
    top: 432px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #muladhara3 {
  top: 574px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #muladhara3 {
    top: 432px;
    left: 131px;
  }
}
.health_card .health_card_wrapper #healthCardResults #sum1 {
  top: 654px;
  left: 0;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #sum1 {
    top: 495px;
    left: -7px;
  }
}
.health_card .health_card_wrapper #healthCardResults #sum2 {
  top: 654px;
  left: 160px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #sum2 {
    top: 495px;
    left: 62px;
  }
}
.health_card .health_card_wrapper #healthCardResults #sum3 {
  top: 654px;
  left: 320px;
}
@media (max-width: 1080px) {
  .health_card .health_card_wrapper #healthCardResults #sum3 {
    top: 495px;
    left: 131px;
  }
}

/***************life-map*******************/
.life-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  color: #000;
}
.life-map .life-map_wrapper {
  max-width: 1014px;
}
.life-map__title {
  margin-bottom: 30px;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  font-family: "Playfair Display SC", serif;
}
@media (max-width: 768px) {
  .life-map__title {
    text-align: start;
  }
}
.life-map__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 40px 60px;
  margin-bottom: 40px;
}
@media (max-width: 1080px) {
  .life-map__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
.life-map__block {
  font-size: 16px;
  line-height: 1.4;
}
.life-map__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 1080px) {
  .life-map__header {
    font-size: 16px;
  }
}
.life-map__header span:last-child {
  margin-left: 10px;
  font-size: 20px;
}
.life-map__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.life-map__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
  font-size: 16px;
}
.life-map__circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #800060;
  color: #2D2B75;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.life-map__diamond {
  text-align: center;
  margin: 30px 0;
}
.life-map__diamond h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Playfair Display SC", serif;
  margin-bottom: 5px;
}
.life-map__diamond span {
  font-size: 18px;
  font-weight: bold;
}
.life-map__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  max-width: 1014px;
  margin: 0 auto 70px;
  padding: 0px;
}
@media (max-width: 1080px) {
  .life-map__description {
    font-size: 16px;
    text-align: start;
  }
}

/**********************************/
#consultation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 40px 10px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  #consultation-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}
#consultation-section .consultation-photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 496px;
}
@media (max-width: 1080px) {
  #consultation-section .consultation-photo {
    max-width: 358px;
  }
}
#consultation-section .consultation-photo img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  display: block;
}
#consultation-section .consultation-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #222;
}
@media (max-width: 1080px) {
  #consultation-section .consultation-content {
    width: 390px;
    padding-left: 15px;
  }
}
#consultation-section .consultation-content .consultation-title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Playfair Display SC", serif;
  color: #2E2B75;
  margin-bottom: 45px;
  border-left: 4px solid #8E3B67;
  padding-left: 8px;
}
@media (max-width: 1080px) {
  #consultation-section .consultation-content .consultation-title {
    font-size: 26px;
    width: 90%;
  }
}
#consultation-section .consultation-content .consultation-description {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 400;
  max-width: 708px;
}
@media (max-width: 1080px) {
  #consultation-section .consultation-content .consultation-description {
    font-size: 16px;
  }
}
#consultation-section .consultation-content .consultation-subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}
#consultation-section .consultation-content .consultation-subtitle2 {
  font-size: 20px;
  margin-bottom: 15px;
}
#consultation-section .consultation-content .consultation-list {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}
#consultation-section .consultation-content .consultation-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
  position: relative;
  padding-left: 40px;
  height: 34px;
}
#consultation-section .consultation-content .consultation-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 34px;
  height: 34px;
  background: url("../assets/img/icon.png") no-repeat center center;
  background-size: contain;
}
#consultation-section .consultation-content .consultation-button {
  display: inline-block;
  padding: 14px 34px;
  background-color: #8E3B67;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  max-width: 521px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display SC", serif;
  margin-top: 30px;
}
@media (max-width: 1080px) {
  #consultation-section .consultation-content .consultation-button {
    font-size: 16px;
    width: 358px;
    height: 49px;
  }
}
#consultation-section .consultation-content .consultation-button:hover {
  background-color: #4a0f6d;
}
#consultation-section .consultation-content .consultation-button .text {
  display: inline;
}
@media (max-width: 1080px) {
  #consultation-section .consultation-content .consultation-button .text {
    display: none;
    /* ховаємо оригінальний текст */
  }
  #consultation-section .consultation-content .consultation-button::after {
    content: "Консультація IMARIA MASTER";
    /* новий текст */
  }
}

/**********************************/
.mentors {
  padding: 60px 20px;
}
.mentors .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .mentors .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 16px;
    width: 358px;
  }
}
.mentors__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 1080px) {
  .mentors__content {
    width: 358px;
  }
}
.mentors__content .mentors__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 1080px) {
  .mentors__content .mentors__title {
    text-align: start;
  }
}
.mentors__content .mentors__text {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 20px;
}
@media (max-width: 1080px) {
  .mentors__content .mentors__text {
    text-align: start;
    font-size: 16px;
  }
}
.mentors__content .mentors__list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
@media (max-width: 1080px) {
  .mentors__content .mentors__list {
    text-align: start;
  }
}
.mentors__content .mentors__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
  position: relative;
  padding-left: 40px;
  height: 34px;
}
.mentors__content .mentors__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 34px;
  height: 34px;
  background: url("../assets/img/icon.png") no-repeat center center;
  background-size: contain;
}
@media (max-width: 1080px) {
  .mentors__content .mentors__list li {
    line-height: 1.2;
    margin-bottom: 12px;
  }
}
.mentors__content .mentors__btn {
  display: inline-block;
  padding: 14px 34px;
  background-color: #8E3B67;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  width: 521px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display SC", serif;
  margin-top: 30px;
  text-align: center;
}
.mentors__content .mentors__btn:hover {
  background-color: #4a0f6d;
}
@media (max-width: 1080px) {
  .mentors__content .mentors__btn {
    width: 358px;
    font-size: 16px;
  }
}
.mentors__photos .mentors__photo {
  max-width: 496px;
  height: auto;
}
@media (max-width: 1080px) {
  .mentors__photos .mentors__photo {
    text-align: start;
  }
}
.mentors__photos .mentors__photo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0px;
}

/*******************************************/
.footer {
  position: relative;
  color: #000;
  height: 454px;
}
.footer__bg {
  background: url("../assets/img/footer-bg.png") no-repeat center/cover;
  padding: 60px 20px;
}
@media (max-width: 1080px) {
  .footer__bg {
    background-position: -880px;
  }
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .footer .container {
    width: 358px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media (max-width: 1080px) {
  .footer__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    gap: 20px;
  }
}
.footer__top .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}
@media (max-width: 1080px) {
  .footer__top .footer__text {
    width: 237px;
    font-size: 11px;
  }
}
.footer__logo img {
  max-width: 246px;
}
@media (max-width: 1080px) {
  .footer__logo img {
    width: 98px;
  }
}
.footer__subtitle {
  margin-bottom: 10px;
  max-width: 155px;
}
.footer__desc {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 1080px) {
  .footer__desc {
    width: 237px;
    font-size: 11px;
  }
}
.footer__form {
  text-align: center;
  margin-bottom: 40px;
}
.footer__form-title {
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 1080px) {
  .footer__form-title {
    margin: 0;
  }
}
.footer__form a {
  display: inline-block;
  padding: 14px 34px;
  background-color: #8E3B67;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  width: 264px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
}
.footer__form a:hover {
  background-color: #4a0f6d;
}
@media (max-width: 1080px) {
  .footer__form a {
    margin-top: 15px;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  font-size: 14px;
}
@media (max-width: 1080px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: roe;
            flex-direction: roe;
    text-align: center;
    gap: 15px;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer__socials img {
  height: 23px;
}